<div class="call_now">
  <%= image_tag 'phone.png' %>
  <p>Discover which Life Healing Package is most suited to <em>your</em> needs.</p>
  <p><em>CALL NOW</em> for a FREE CONSULTATION (808) 651-4534 (Hawaii Time -5 EST)</p>
  <%= clearing_div %>
</div>